.categoria-item {
  max-width: 45px!important;
  max-height: 45px!important;
}



.carousel {

      margin-top: 20px;
      width: 70%;
      height: 100px;
      padding: 15px;
      z-index: -2;
      background-color: rgb(233, 237, 238);

  }

.carousel * {
  outline: 0;
}

 .owl-prev:hover, .owl-next:hover {
  opacity: 1;
}
.owl-prev {
  left: 0;
  background: #08647e;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.2);
  box-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
}

.carousel-wraper .owl-prev, .carousel-wraper .owl-next {
  position: absolute;
  top: 50%;
  display: block;
  width: 35px;
  height: 80px;
  margin-top: -40px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background-color: #fff;
  z-index: 1000;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
