.relogio{
  font-size: 30px;
  text-align: center;
}
.relogio-texto{

  height: 28px;
  background-color: lawngreen;
  text-align:center;
  padding-top: 5px;
  border-radius: 5px;
  font-size: 18px;
}
