

<div class="container ">
  <div class="jumbotron bg-light">

    <hr class="my-4 ">

    <section class="card card-info text-white bg-dark mb-3">

      <section class="card-video">
        <youtube-player
          [videoId]="id"
          (ready)="savePlayer($event)"
          (change)="onStateChange($event)"
          [playerVars]="playerVars">
        </youtube-player>
      </section>
      <div class="card-body"></div>
    </section>
    <button *ngIf="ytEvent !== 1"
      type="button"
      class="btn btn-primary"
      (click)="playVideo()">
      PLAY
    </button>
    <button *ngIf="ytEvent === 1"
      type="button"
      class="btn btn-danger"
      (click)="pauseVideo()">
      PAUSAR
    </button>
  </div>
</div>



