
.botao-cor-especial {
  background: rgb(169, 7, 232);
  color: white;
}

.borda-cor-especial{
  border-color: rgb(169,7,232);
}


.fonte {
  color:whitesmoke;
  text-shadow: 2px 2px rgb(169, 7, 232);
}

.titulo{
  color:rgb(66, 65, 67);
  font-family: 'Lobster', cursive;

}

.input-pesquisa{
  border-radius: 20px;
}

.tamanho{
  width: 300px;
}

.nav_logo {
  width: 75px;
}

.formulario-login{
  padding: 20px;
  padding-right: 30px;
}

.botao-login{
  margin-left: 30px;
}

.largura{
  width: 500px;
}
