<section>

    <div class="imovel">

        <div class="row col-xs-12 col-sm-2 col-md-1 judicial ">
           <h5>Judicial</h5>
                <p class="campo">Leilão</p>
                <p>ML23456</p>
                <p class="campo">Visitas</p>
                <p>1.151</p>
                <p class="campo">Habilitados</p>
                <p>2</p>
                <p class="campo">Lances</p>
                <p>5</p>
        </div>

        <div class="row col-xs-12 col-sm-6 col-md-8 border">
            <h2>Direitos sobre Casa 36 m² - Loteamento Res. Recanto dos Pássaros - Ourinhos - SP</h2>
            <div class="d-flex">

              <div class="row">
                <div class="d-flex localizacao">
                          <div class="row">
                                  <p class="campo">Localização</p>
                                  <p class="conteudo-campo">
                                    Rua Maria José Milani, 613, Loteamento Residencial Recanto dos Pássaros, Ourinhos, SP
                                  </p>
                                  <p class="campo">Vara</p>
                                  <p class="conteudo-campo">
                                    Serviço de Anexo Fiscal do Foro da Comarca de Ourinhos/SP
                                  </p>
                                  <p class="campo">Forum</p>
                                  <p class="conteudo-campo">
                                    Serviço de Anexo Fiscal do Foro da Comarca de Ourinhos/SP
                                  </p>

                                  <p class="campo">Leiloerio</p>
                                  <p class="conteudo-campo">
                                    Fernando José Cerello G. Pereira (JUCESP Nº 844)
                                    </p>
                                  </div>
                          <div class="row">
                            <p class="campo">Processo</p>
                            <p class="conteudo-campo">
                              1504080-77.2017.8.26.0408 ()
                            </p>
                            <p class="campo">Controle</p>
                            <p class="conteudo-campo">
                              2156/2009
                            </p>
                            <p class="campo">Autor</p>
                            <p class="conteudo-campo">
                              Edifício Cannes II
                            </p>
                            <p class="campo">Réu</p>
                            <p class="conteudo-campo">
                              Daniel Sgrignoli
                            </p>


                          </div>
                  </div>
              </div>
              </div>

            </div>


            <div class="row col-xs-12 col-sm-4 col-md-3 painel-lance">
              <h2>Faça seu Lance !</h2>
              <h3 class="incremento">Incremento</h3>
              <h2 class="money"><sup>R$</sup>1.500<span class="centavos"><sup>00</sup></span></h2>
                <div class="d-flex">
                    <div class="row">
                            <div class="label label-green">1<sup>o</sup> Praça</div>
                            <div class="label label-orange">2<sup>o</sup> Praça</div>
                            <div class="label label-red">3<sup>o</sup> Praça</div>
                    </div>
                    <div class="encerrado">
                            <div class="lance-encerrado">Encerrada</div>
                            <div class="lance-encerrado">Encerrada</div>
                    </div>
                </div>
                <div class="ultimo-informacao">
                  3ª Praça: 28/03/2023 às 11:30
                  HORÁRIO DE BRASÍLIA
                  R$ 130.654,01
                </div>

                  <app-relogio></app-relogio>


</div>
    </div>

    <div class="inovel">

      <div class="row col-xs-12 col-sm-2 col-md-1 espaco ">


     </div>
    </div>



</section>
