.imovel{
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  line-height: 1rem;
  align-items: stretch;
}
.painel-lance{

  margin-left: 20px;
  background-color: #dcf2fc;
  flex-direction: column;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 0px;
  margin-left: 5px;
  align-items: stretch ;

}

.label {

  bottom: 70px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 2;
  color: #fff;
  border-radius: 3px;
  width: 80%;
  line-height: 2rem;
  margin-bottom: 5px;
  text-align: center;

}

.label sup{
  font-size: 10px;
}
.label-green {
  padding: 5px 5px;
  background-color: #5cb85c;
  height: 50px;
}

.label-orange {
bottom: 50px;
padding: 5px 5px;
background-color: #eaba1c;
height: 50px;
}

.label-red {
bottom: 50px;
padding: 5px 5px;
background-color: #ea1c1c;
height: 50px;
}

sup{
  top: -8px;
  font-size: 16px;
  letter-spacing: normal;
}
.centavos{
  text-decoration: line-through;
}

.money{
  padding-bottom: 20px;
}
.incremento{
  padding-top: 5px;
  height: 25px;
}

.lance-encerrado{
  font-size: 1.5rem;
  padding-top: 13px;
  padding-bottom: 28px;
}

.encerrado{
  width: 100%;
  text-align: left;
  align-items: left;
  align-self: left;
}

.campo{
  height: 12px;
  font-style: italic;
  font-size: medium;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  padding-left: 12px;
}

.judicial .espaco{
  width: 250px!important;
  padding-right: 10px;
  margin-right: 15px;
}

.ultimo-informacao{
  margin-bottom: 20px;
}
