<section class="bg-color">
  <div class="containers">

      <div class="row">

          <div class="col-md-6">
              <div class="card">
                  <div class="card-main">
                      <div class="discount">-9%</div>
                      <div class="label label-green">1 Praça</div>
                      <div class="label label-orange">2 Praça</div>
                      <div class="label label-red">3 Praça</div>
                      <div class="product-container">
                            <div class="p" (mouseover)="imageChange($event)"><img src="../../../assets/img/imovel-img1.jpg"
                                    alt="Product"></div>
                            <div class="p" (mouseover)="imageChange($event)"><img src="../../../assets/img/imovel-img2.jpg"
                                    alt="Product"></div>
                            <div class="p" (mouseover)="imageChange($event)"><img src="../../../assets/img/imovel-img3.jpg"
                                  alt="Product"></div>
                                  <div class="p" (mouseover)="imageChange($event)"><img src="../../../assets/img/imovel-img4.jpg"
                                    alt="Product"></div>
                            <div class="p" (mouseover)="imageChange($event)"><img src="../../../assets/img/imovel-img5.jpg"
                                    alt="Product"></div>
                            <div class="p" (mouseover)="imageChange($event)"><img src="../../../assets/img/imovel-img6.jpg"
                                    alt="Product"></div>

                      </div>
                      <div class="image">
                        <img class="tamanho" src="{{url}}" alt="Product">

                      </div>
                      <div class="cart-line"></div>
                      <div class="cart-item">
                          <ul>
                            <li><a href=""><img class="icon-tamanho" src="../../../assets/img/icon-leilao-branco.png"></a></li>
                            <li><a (click)="openModal(template)"><i class="fa fa-video-camera"></i></a></li>
                            <li><a href=""><i class="fa fa-share-alt"></i></a></li>
                            <li><a href=""><i class="fa fa-heart"></i></a></li>
                            <li><a href=""><i class="fa fa-search"></i></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="content">
                      <a href="javascript:void(0);"><i class="fa fa-map-marker"></i> Apartamento - Alvinópolis - Atibaia - SP</a>
                      <p class="card-text texto-card">O imóvel possui uma construção assobradada com dupla finalidade.</p>
                        <div class="d-flex">
                          <div class="d-flex justify-content-center">
                              <div class="row icones-card" >

                                <div class="icones-espaco">
                                    <img class="icones" src="../../../assets/img/icon-cama.png">
                                    <p class="icones-fonte">4 quartos</p>
                                </div>

                                <div class="icones-espaco">
                                  <img class="icones" src="../../../assets/img/icon-vaga.png">
                                  <p class="icones-fonte">2 vagas</p>
                                </div>

                                <div class="icones-espaco">
                                  <img class="icones" src="../../../assets/img/icon-chuveiro.png">
                                  <p class="icones-fonte">3 banheiros</p>
                                </div>

                                <div class="icones-espaco">
                                  <img class="icones" src="../../../assets/img/icon-cozinhas.png">
                                  <p class="icones-fonte">1 cozinha</p>
                                </div>

                                <div class="icones-espaco">
                                    <img class="icones" src="../../../assets/img/icon-piscina.png">
                                    <p class="icones-fonte">piscina</p>
                                </div>

                                <div class="icones-espaco">
                                    <img class="icones" src="../../../assets/img/icon-churrasqueira.png">
                                    <p class="icones-fonte">churrasqueira</p>
                                </div>
                              </div>



                                      <div class="row icones-card divide">
                                              <div>
                                                <img class="icones-area" src="../../../assets/img/icon-area.png">
                                              </div>
                                              <div>
                                                <p class="">Área construida 180 m<sup>2</sup></p>
                                                <p class="">Área do terreno 290 m<sup>2</sup></p>
                                              </div>
                                      </div>
                              </div>


                          </div>


                    <div class="container" >
                      <div class="row preco">

                        <p class="money"><sup>R$</sup>500.000<span class="centavos"><sup>00</sup></span> - <span class="price-old-cor"><sup>R$</sup><span class="price-old">700.000</span><sup>00</sup></span></p>

                    </div>
                    </div>



                  </div>
              </div>
          </div>

          <div class="col-md-6">
            <div class="card">
                <div class="card-main">
                    <div class="discount">-17%</div>
                    <div class="label label-green">1 Praça</div>
                    <div class="label label-orange">2 Praça</div>
                    <div class="label label-red">3 Praça</div>
                    <div class="product-container">
                          <div class="p" (mouseover)="imageChange1($event)"><img src="../../../assets/img/imovel-img18.jpeg"
                                  alt="Product"></div>
                          <div class="p" (mouseover)="imageChange1($event)"><img src="../../../assets/img/imovel-img19.jpg"
                                  alt="Product"></div>
                          <div class="p" (mouseover)="imageChange1($event)"><img src="../../../assets/img/imovel-img15.jpg"
                                alt="Product"></div>
                                <div class="p" (mouseover)="imageChange1($event)"><img src="../../../assets/img/imovel-img13.jpg"
                                  alt="Product"></div>
                          <div class="p" (mouseover)="imageChange1($event)"><img src="../../../assets/img/imovel-img21.JPG"
                                  alt="Product"></div>
                          <div class="p" (mouseover)="imageChange1($event)"><img src="../../../assets/img/imovel-img22.jpeg"
                                  alt="Product"></div>

                    </div>
                    <div class="image">
                      <img class="tamanho" src="{{url1}}" alt="Product">

                    </div>
                    <div class="cart-line"></div>
                    <div class="cart-item">
                        <ul>
                          <li><a href=""><img class="icon-tamanho" src="../../../assets/img/icon-leilao-branco.png"></a></li>
                          <li><a (click)="openModal(template)"><i class="fa fa-video-camera"></i></a></li>
                          <li><a href=""><i class="fa fa-share-alt"></i></a></li>
                          <li><a href=""><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa fa-search"></i></a></li>
                    </ul>
                    </div>
                </div>
                <div class="content">
                    <a href="javascript:void(0);"><i class="fa fa-map-marker" aria-hidden="true"></i> Sobrado - Jd Maristela - Atibaia - SP</a>
                    <p class="card-text texto-card">Imóvel com ampla visão para Pedra Grande, pomar formado, aceita permuta.

                    </p>
                      <div class="d-flex">
                        <div class="d-flex justify-content-center">
                          <div class="row icones-card" >

                            <div class="icones-espaco">
                                <img class="icones" src="../../../assets/img/icon-cama.png">
                                <p class="icones-fonte">4 quartos</p>
                            </div>

                            <div class="icones-espaco">
                              <img class="icones" src="../../../assets/img/icon-vaga.png">
                              <p class="icones-fonte">2 vagas</p>
                            </div>

                            <div class="icones-espaco">
                              <img class="icones" src="../../../assets/img/icon-chuveiro.png">
                              <p class="icones-fonte">3 banheiros</p>
                            </div>

                            <div class="icones-espaco">
                              <img class="icones" src="../../../assets/img/icon-cozinhas.png">
                              <p class="icones-fonte">1 cozinha</p>
                            </div>

                            <div class="icones-espaco">
                                <img class="icones" src="../../../assets/img/icon-piscina.png">
                                <p class="icones-fonte">piscina</p>
                            </div>

                            <div class="icones-espaco">
                                <img class="icones" src="../../../assets/img/icon-churrasqueira.png">
                                <p class="icones-fonte">churrasqueira</p>
                            </div>
                          </div>



                                  <div class="row icones-card divide">
                                          <div>
                                            <img class="icones-area" src="../../../assets/img/icon-area.png">

                                          </div>
                                          <div>
                                            <p class="">Área construida 480 m<sup>2</sup></p>
                                            <p class="">Área do terreno 1.020 m<sup>2</sup></p>
                                          </div>
                                  </div>



                      </div>
            </div>
            <div class="barra-preco">
            <div class="container" >
              <div class="row preco">
                  <p class="money"><sup>R$</sup>999.000<span class="centavos"><sup>54</sup></span> - <span class="price-old-cor"><sup>R$</sup><span class="price-old">1.299.000</span><sup>99</sup></span></p>
             </div>
            </div>
            </div>


                </div>
            </div>
        </div>

      </div>

  </div>

</section>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Tour do imóvel</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>

<div class="formulario-login">

  <app-ngxvideo> </app-ngxvideo>


</div>




</ng-template>

