<footer class="container-fluid rodape">
  <div>

  <div class="d-flex  justify-content-center">
    <div class="footer-col ">
      <ul class="rodape-corpo">

        <li>Institucional</li>
        <li>Conheça nosso Blog</li>
        <li>Sobre a Empresa</li>
        <li>Assessoria de Imprensa</li>
        <li>Trabalhe conosco</li>
      </ul>
    </div>
    <div class="footer-col">
      <ul class="rodape-corpo">
        <li>Ajuda</li>
        <li>Regulamento</li>
        <li>Perguntas Frequentes</li>
        <li>Política de Privacidade</li>
      </ul>
    </div>
    <div class="footer-col">
      <ul class="rodape-corpo">
      <a>Contato</a>
      <li>Formulário de Contato</li>
      </ul>
    </div>
    <div class="footer-col">
      <ul class="rodape-corpo">
      <li>Rede Sociais</li>
      <li><img src="../../../assets/img/icon-facebook.png"></li>
      <li><img src="../../../assets/img/icon-linked.png"></li>
      <li><img src="../../../assets/img/icon-youtube.png"></li>
      </ul>
    </div>
  </div>
 </div>

  </footer>
