/* RODAPÉ ---------- */
.rodape{
  padding-top: 20px;
  height: 250px;
  background: rgb(162, 162, 206);
  color: white;


}

.rodape-corpo{
  list-style-type: none;
}

.footer-col{
width: 250px;
}

/* RODAPÉ ---------- FIM*/


